<p>326px v.0.1</p>

<%- @pictures.each do |picture| %>
	<%= picture %>

	<p> <img src="<%= picture [:url] %>"/>
	<h2> <%= picture[:title] %> </h2>
	<p> <%= picture[:artist] %> </p>
	<p> <%= picture[:artist] %> </p>
	<img src="<%=picture.url%>"/>
	<p></p>

<%end%>

